/* CSS declarations go here */
body {margin: 5px;}

/* table is darker on hover */
.ui.table tr:hover {
  background-color: #F3F3F3!important;
  cursor: pointer;
}

/* make floating label not too high */
.ui.menu .ui.floating.label {
  top: -0.4em;
}

.confinedSpace textarea { height: 50px; resize:vertical; max-height:50px; min-height:50px; }

.rail {
  width: 200px;
}
.ui.pendingInsight {
  background-color: #ffffe0;
}
.ui.approvedInsight {
  background-color: #ffff99;
}
.ui.menu.topmenu {
	width: 1000px;
	height: 50px;
	background-color: #455a7f;
	box-shadow: 0 1px 0 0 rgba(118, 118, 118, 0.5);
}
.red {
  color: #FF0000;
}
.topmenu {
  color: #FFFFFF;
}
.largetext {
  height:500px;
  width:950px;
}
.appframe {
  height:900px;
  width:950px;
}
.widetext {
  min-width:600px;
  max-width:600px;
}
.searchbox {
	background-color: #f1f6ff;
}
.dropzone {
  min-height: 37px;
  max-height: 50px;
  height: 40px;
  padding: 9px;
}
.dropzone .dz-message {
  margin: 0px;
}
