/* CSS declarations go here */
body {margin: 5px;}

/* table is darker on hover */
.ui.table tr:hover {
  background-color: #F3F3F3!important;
  cursor: pointer;
}

/* make floating label not too high */
.ui.menu .ui.floating.label {
  top: -0.4em;
}

.confinedSpace textarea { height: 50px; resize:vertical; max-height:50px; min-height:50px; }

.rail {
  width: 200px;
}
